* {
    margin: 0;
    padding: 0;
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4760de 0%, white 100%);
    height: 100%;
    justify-content: center;
}

.subtitle {
    font-size: 1.5em;
    color: white;
}

nav {
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.container {
    text-align: center;
    color: white;
    margin-top: 350px;
}

.abc {
    font-size: 70px;
}

h1 {
    font-size: 10em;
}

h2 {
    color: black;
}

.about .row .col h2 {
    color: white;
}

.new-section {
    background: white;
    padding: 480px 0;
    
    text-align: center;
    margin-top: 600px;
    min-height: 600px; /* Ensures section is not too short */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    padding: 280px 0;
    background: linear-gradient(to bottom, #4760de 0%, rgb(181, 218, 255) 100%);
    color: white;
    display: flex;
}

.new-section p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
}

.new-section h2 {
    font-size: 40px;
}

.bio p {
    justify-content: center;
    align-items: center;
}

#custom {
    height: 600px;
}

#foot{
    margin-top: -220px;
}


